name: Format

on:
  # trigger on PR
  pull_request:
  # trigger manually
  workflow_dispatch:

jobs:
  # JOB to run change detection
  detect_file_changes:
    runs-on: ubuntu-latest
    # Set job outputs to values from filter step
    outputs:
      markdown: ${{ steps.filter.outputs.markdown }}
      frontend: ${{ steps.filter.outputs.bash }}
    steps:
    - uses: actions/checkout@v3
    - uses: dorny/paths-filter@v2
      id: filter
      with:
        filters: |
          markdown:
            - '**.md'
          bash:
            - '**.bash'

  markdown:
    needs: changes
    if: ${{ needs.changes.outputs.markdown == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup asdf
        uses: asdf-vm/actions/setup@v1
      - name: Cache asdf
        uses: actions/cache@v2
        with:
          path: |
            /home/runner/.asdf
          key: ${{ runner.os }}-asdf-${{ hashFiles('**/.tool-versions') }}
          restore-keys: |
            ${{ runner.os }}-asdf-
      - name: Install dependencies in .tool-versions
        uses: asdf-vm/actions/install@v1

      - name: Format markdown with Deno
        run: deno fmt *.md
      - uses: stefanzweifel/git-auto-commit-action@v4
        name: commit markdown file format
        with:
          commit_message: "chore: format markdown files"

  bash:
    needs: changes
    if: ${{ needs.changes.outputs.bash == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup asdf
        uses: asdf-vm/actions/setup@v1
      - name: Cache asdf
        uses: actions/cache@v2
        with:
          path: |
            /home/runner/.asdf
          key: ${{ runner.os }}-asdf-${{ hashFiles('**/.tool-versions') }}
          restore-keys: |
            ${{ runner.os }}-asdf-
      - name: Install dependencies in .tool-versions
        uses: asdf-vm/actions/install@v1

      - name: Format bash with shfmt
        run: ./scripts/format.bash
      - uses: stefanzweifel/git-auto-commit-action@v4
        name: commit markdown file format
        with:
          commit_message: "chore: format shell script files"
